/*
Padrão de cores
#0E0E12
#1E1D27
#5B5A61
#848389
#C1C1C4
#EAEAEB
#F3F3F4
#FFFFFF

*/

html{
    margin: 0px;
    height: 100%;
    min-height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    
}
.i{
    font-style: italic;
}
.b{
    font-weight: bold;
}
.roboto{
    font-family: 'Roboto';
}

.md-12 { font-size: 12px; }
.md-14 { font-size: 14px; }
.md-16 { font-size: 16px; }
.md-18 { font-size: 18px; }
.md-20 { font-size: 20px; }
.md-24 { font-size: 24px; }

.cor-1{ color: #0E0E12;}
.cor-2{ color: #1E1D27;}
.cor-3{ color: #5B5A61;}
.cor-4{ color: #848389;}
.cor-5{ color: #C1C1C4;}
.cor-6{ color: #EAEAEB;}
.cor-7{ color: #F3F3F4;}
.cor-8{ color: #FFFFFF;}

h1, h2, h3{
    margin: 0px;

}
h1{
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 30px;
    color: #5B5A61;
}
h2{
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #5B5A61;
}
h3{
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #848389;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    min-height: 100%;
    overflow: auto; 
}

.barraMenu{
    background-color: #1E1D27;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    overflow: auto; 
}
.conteudo{
    width: calc(100% - 250px);
    background-color: #F3F3F4;
}

.logo{
    width: 100%;
    height: 150px;
    background-color: #0E0E12;
}
.menu{
    width: 100%;
}

.menu li{
    
    margin: 0px;
    padding-top: 15px;
    padding-left: 15px;
    list-style:none; 
    height: 40px;
    border-bottom: 1px solid #0E0E12;

}
.menu li:hover{
    background-color: #0E0E12;
    cursor: pointer;
}

.menu>ul{
    margin: 0px;
    padding: 0px;
}
.menu i{
    vertical-align: sub;
    margin-right: 5px;    
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.barraSuperior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EAEAEB;
}

.bt_menu{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #F3F3F4;
    border: solid 1px #EAEAEB;
    cursor: pointer;
}
.status_login{
    color: #C1C1C4;
    margin-right: 10px;
}
.status_login>span>i{
    vertical-align: bottom;
}
.navegacao{
    margin: 20px 10px 10px 10px;
}
.navegacao i{
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 10px;
}
.sessao{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    transition:all 0.3s ease;

}
.subSessao{
    background-color: #fff;
    border-bottom: 1px solid #EAEAEB;

    width: calc(50% - 50px);
    min-width: 450px;
    min-height: 300px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    

}
.bloco{
    width: calc(100% - 40px);
    max-width: 500px;
    margin-top: 20px;
}
.subBloco{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 10px;
}
.subSessao label{
    margin-top: 10px;
}

input{
    width: calc(100% - 30px);
    height: 30px;
    background-color:#FFF;
    border: solid 1px #C1C1C4;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
input::placeholder{
    font-style: italic; 
    color: #848389;
}

select{
    width: calc(100% - 30px);
    height: 30px;
    background-color:#fff;
    border: solid 1px #C1C1C4;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

button{
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    height: 40px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

button:hover{
    opacity: 0.8;
}

button:focus {
    outline: none;
}
.bt_novo{
    background-color: #1E1D27;
    color: #fff;
    
}


.bt_salvar{
    margin-top: 50px;   
    background-color: #31940a;
    color: #fff;
}

.bt_excluir{
    background-color: #d31515;
    color: #fff;
}